.benefit {
  text-align: center;
}

.benefit__title {
  font-size: 24px;
  font-weight: bold;
  color: #292929;
  margin-bottom: 7px;
}

.benefit__desc {
  padding: 0 13px;
}

.benefit__img-wrapper {
  display: inline-block;
  width: 126px;
  height: 126px;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 24px;
}

.benefit__icon {
  width: 75px;
  height: 69px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}